<nav id="secondary-nav" class="article-nav">
  <h1 class="mat-h1">Articles</h1>
  @if ((user$ | async)) {
  <a mat-button (click)="createArticle()"
    ><mat-icon
      aria-hidden="false"
      aria-label="Create Article"
      fontIcon="add"
    ></mat-icon>
    Create Article
  </a>
  }
</nav>
<cdk-virtual-scroll-viewport
  itemSize="50"
  minBufferPx="200"
  maxBufferPx="400"
  [style.height]="gridHeight + 'px'"
  [style.width]="gridWidth + 'px'"
>
  <mat-grid-list cols="3" [rowHeight]="gridHeight / 2">
    <mat-grid-tile
      *cdkVirtualFor="let article of articles$ | async"
      [colspan]="1"
      [rowspan]="1"
    >
      <adb-card [article]="article" (click)="goToArticle(article.id)"></adb-card>
    </mat-grid-tile>
  </mat-grid-list>
</cdk-virtual-scroll-viewport>
