<nav id="secondary-nav" class="article-nav">
  <h1 class="mat-h1">Blog Articles</h1>
  @if ((isAuthenticated$ | async)) {
  <a mat-button (click)="createArticle()"
    ><mat-icon
      aria-hidden="false"
      aria-label="Create Article"
      fontIcon="add"
    ></mat-icon>
    Create Article
  </a>
  }
</nav>
<cdk-virtual-scroll-viewport
  itemSize="50"
  minBufferPx="200"
  maxBufferPx="400"
  [style.height]="gridHeight + 'px'"
  class="grid"
>
  @for (article of articles$ | async; track article) {
  <adb-card [article]="article" (goToArticle)="goToArticle($event)" (editArtice)="editArticle($event)" (deleteArticle)="onDelete($event)"></adb-card>

  }
</cdk-virtual-scroll-viewport>
