.article-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

::ng-deep {
    .cdk-virtual-scroll-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
}

adb-card {

    &:hover {
        cursor: pointer;
    }
}