@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($atika-dominic-theme) {
  .site-header {
    stroke: mat.get-theme-color($atika-dominic-theme, primary, 30) !important;
  }

  footer {
    background-color: mat.get-theme-color($atika-dominic-theme, primary, 30) !important;
    color: mat.get-theme-color($atika-dominic-theme, primary, 99) !important;
  }
}

@mixin typography($atika-dominic-theme) {
  .app-name {
    font: mat.get-theme-typography($atika-dominic-theme, display-small, font);
    color: mat.get-theme-color($atika-dominic-theme, secondary, 100);
  }

  .page-title {
    font: mat.get-theme-typography($atika-dominic-theme, headline-large, font);
    color: mat.get-theme-color($atika-dominic-theme, primary, 30);
  }
}

@mixin theme($atika-dominic-theme) {
  @if mat.theme-has($atika-dominic-theme, color) {
    @include color($atika-dominic-theme);
  }

  @if mat.theme-has($atika-dominic-theme, typography) {
    @include typography($atika-dominic-theme);
  }
}

.reduced-size {
  @include mat.all-component-densities(-8);
}