.primary-nav {

    &,
    .navigation-btns {

        &,
        .feature-btns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }
    }

}

.feature-btns {
    padding-right: 80px;
}

.site-header {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  