<mat-toolbar id="toolbar">
  <mat-toolbar-row class="container primary-nav">
    <header class="site-header" routerLink="/">Atika Dominic</header>

    <nav class="navigation-btns">
      <a
        mat-flat-button
        routerLink="/info"
        fragment="about-atika"
        routerLinkOptions="{anchorScrolling:'enabled'}"
        ><mat-icon
          aria-hidden="false"
          aria-label="About Atika Dominic"
          fontIcon="info"
        ></mat-icon>
        About Atika
      </a>
      <a mat-flat-button routerLink="/info" fragment="contact-atika"
        ><mat-icon
          aria-hidden="false"
          aria-label="Contact Atika Dominic"
          fontIcon="phone"
        ></mat-icon>
        Contact Atika
      </a>
      @if (!(user$ | async)) {
      <a mat-button (click)="login()"
        ><mat-icon
          aria-hidden="false"
          aria-label="Contact Atika Dominic"
          fontIcon="login"
        ></mat-icon>
        Login
      </a>
      } @else {
      <a
        mat-button
        color="primary"
        class="account-menu-button"
        [matMenuTriggerFor]="profileMenu"
        aria-label="Profile menu"
      >
        <mat-icon fontIcon="account_circle"></mat-icon
        >{{ (user$ | async)?.name }}
      </a>

      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="goToAuthorConfig()">
          <mat-icon>person</mat-icon>
          <span>About {{ (user$ | async)?.name }}</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

      }
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<section id="container" class="container">
  <router-outlet></router-outlet>
</section>
