<h1 class="mat-h1">{{ action }} Article</h1>

<form [formGroup]="articleForm" (submit)="submit()">
  <div class="form-controls">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Article Title..." />
      <mat-icon matPrefix>title</mat-icon>
    </mat-form-field>

    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      (click)="!uploader.queue.length ? chooseImage(imageUpload) : undefined"
      class="file-control form-control"
    >
      {{
        !uploader.queue.length ? "Select image" : uploader.queue[0].file.name
      }}
      <a
        class="btn-close text-danger"
        aria-label="clear"
        (click)="$event.stopPropagation(); uploader.clearQueue()"
      ></a>
    </div>
    <input
      hidden
      #imageUpload
      ng2FileSelect
      type="file"
      [uploader]="uploader"
      [formControl]="header_image"
      id="header_image"
      class="form-control"
      placeholder="Upload image"
      required
    />
    <div *ngIf="uploader.queue[0]?.isUploading" class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [ngStyle]="{ width: uploader.progress + '%' }"
      ></div>
    </div>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="Brief article description..."
      />
      <mat-icon matPrefix>subtitles</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Article keywords</mat-label>
      <mat-chip-grid
        #chipGrid
        aria-label="Enter keywords"
        formControlName="keywords"
      >
        @for (keyword of keywords(); track keyword) {
        <mat-chip-row (removed)="removeKeyword(keyword)">
          {{ keyword }}
          <button matChipRemove aria-label="'remove ' + keyword">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        placeholder="New keyword..."
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="add($event)"
      />
      <mat-icon matPrefix>tag</mat-icon>
    </mat-form-field>
  </div>

  <editor
    formControlName="content"
    [init]="{
    base_url: '/tinymce',
    suffix: '.min',
    plugins:
      'a11ychecker advcode advlist advtable anchor autocorrect autosave editimage image link linkchecker lists media mediaembed pageembed powerpaste searchreplace table template tinymcespellchecker typography visualblocks wordcount',
    toolbar:
      'undo redo | styles | bold italic underline strikethrough | align | table link image media pageembed | bullist numlist outdent indent | spellcheckdialog a11ycheck typography code',
    height: 540,
    a11ychecker_level: 'aaa',
    typography_langs: ['en-US'],
    typography_default_lang: 'en-US',
    advcode_inline: true,
    content_style:
      'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
  }"
  ></editor>
  <div><button mat-flat-button type="submit" [disabled]="!articleForm.valid">Save article</button></div>
</form>

<!-- 'body {
  font-family: 'Roboto', sans-serif;
  color: #222;
}
img {
  height: auto;
  margin: auto;
  padding: 10px;
  display: block;
}
img.medium {
  max-width: 25%;
}
a {
  color: #116B59;
}
.related-content {
  padding: 0 10px;
  margin: 0 0 15px 15px;
  background: #eee;
  width: 200px;
  float: right;
}' -->
