article {
    min-height: 100vh;

    .about-content {
        // text-wrap: wrap;

        .author-profile_picture {
            width: 400px;
            float: left
        }
    }

    .about-atika {
        background-color: black;
    }
}