<mat-card class="card">
  <img
    mat-card-image
    [src]="article?.header_image"
    [alt]="'image of ' + article?.title"
  />

  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-headline-medium">{{ article?.title }}</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <article>
      <p>{{ article?.description | slice : 0 : 500 }}</p>
    </article>
  </mat-card-content>

  <mat-card-actions> Like | Share </mat-card-actions>

  <mat-card-footer>{{ article?.creator?.name }}</mat-card-footer>
</mat-card>
