@use '@angular/material' as mat;

.card {
    @include mat.elevation-transition();
    @include mat.elevation(2);

    &:hover {
        @include mat.elevation(4);
    }

    .title {
        margin-top: 16px;
        text-transform: capitalize;
    }

    .info {
        .article {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            gap: 16px;

            .label {
                color: lighten(black, 45%);
                text-transform: uppercase;
            }

            .value {
                text-align: center;
            }
        }
    }
}

:host {
    ::ng-deep {
        .mat-mdc-card {
            border-radius: calc(var(--mdc-elevated-card-container-shape) - 8px);
        }

        .mat-mdc-card-header,
        .mat-mdc-card-content {
            padding: 16px;
        }
    }
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card-image {
    max-width: 400px;
}