<h1 class="mat-h1">Create Article</h1>

<form [formGroup]="articleForm" (submit)="submit()">
  <div class="form-controls">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Article Title..." />
      <mat-icon matPrefix>tag</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Summary</mat-label>
      <input
        matInput
        formControlName="summary"
        placeholder="Brief article description..."
      />
      <mat-icon matPrefix>tag</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Article keywords</mat-label>
      <mat-chip-grid
        #chipGrid
        aria-label="Enter keywords"
        formControlName="keywords"
      >
        @for (keyword of keywords(); track keyword) {
        <mat-chip-row (removed)="removeKeyword(keyword)">
          {{ keyword }}
          <button matChipRemove aria-label="'remove ' + keyword">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        }
      </mat-chip-grid>
      <input
        placeholder="New keyword..."
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="add($event)"
      />
      <mat-icon matPrefix>tag</mat-icon>
    </mat-form-field>
  </div>

  <editor
    formControlName="content"
    [init]="{
    base_url: '/tinymce',
    suffix: '.min',
    plugins:
      'a11ychecker advcode advlist advtable anchor autocorrect autosave editimage image link linkchecker lists media mediaembed pageembed powerpaste searchreplace table template tinymcespellchecker typography visualblocks wordcount',
    toolbar:
      'undo redo | styles | bold italic underline strikethrough | align | table link image media pageembed | bullist numlist outdent indent | spellcheckdialog a11ycheck typography code',
    height: 540,
    a11ychecker_level: 'aaa',
    typography_langs: ['en-US'],
    typography_default_lang: 'en-US',
    advcode_inline: true,
    content_style:
      'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
  }"
  ></editor>
  <div><button mat-flat-button type="submit">Save article</button></div>
</form>

<!-- 'body {
  font-family: 'Roboto', sans-serif;
  color: #222;
}
img {
  height: auto;
  margin: auto;
  padding: 10px;
  display: block;
}
img.medium {
  max-width: 25%;
}
a {
  color: #116B59;
}
.related-content {
  padding: 0 10px;
  margin: 0 0 15px 15px;
  background: #eee;
  width: 200px;
  float: right;
}' -->
