<h1 class="mat-h1">About Author</h1>

<form [formGroup]="authorForm" (submit)="submit()">
  <div class="form-controls">
    <mat-form-field>
      <mat-label>Author Intro/Title</mat-label>
      <input
        matInput
        formControlName="about_title"
        placeholder="Article Title..."
      />
      <mat-icon matPrefix>title</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>About Author</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="about_description"
        placeholder="About Author..."
      ></textarea>
      <mat-icon matPrefix>article</mat-icon>
    </mat-form-field>

    <input
      type="file"
      formControlName="profile_image"
      accept=".csv,text/plain, text/csv, text/html"
      (change)="onFileSelected($event)"
      id="header_image"
      class="file-control"
      placeholder="Upload image"
      required
    />
    <mat-form-field>
      <mat-label>Contact Author Intro/Title</mat-label>
      <input
        matInput
        formControlName="contact_title"
        placeholder="Article Title..."
      />
      <mat-icon matPrefix>title</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contact Author</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="contact_description"
        placeholder="Contact Author..."
      ></textarea>
      <mat-icon matPrefix>article</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contact Email</mat-label>
      <input
        matInput
        formControlName="contact_email"
        placeholder="Article Title..."
      />
      <mat-icon matPrefix>alternate_email</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Facebook Profile Link</mat-label>
      <input
        matInput
        formControlName="facebook_profile"
        placeholder="Article Title..."
      />
      <mat-icon matPrefix>link</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Twitter Profile Link</mat-label>
      <input
        matInput
        formControlName="twitter_profile"
        placeholder="Article Title..."
      />
      <mat-icon matPrefix>link</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Youtube Profile Link</mat-label>
      <input
        matInput
        formControlName="youtube_profile"
        placeholder="Article Title..."
      />
      <mat-icon matPrefix>link</mat-icon>
    </mat-form-field>
  </div>

  <div><button mat-flat-button type="submit">Save info</button></div>
</form>
